/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #FF6F61; 
  --ifm-color-primary-dark: #E84A3F; 
  --ifm-color-primary-darker: #D43F2F; 
  --ifm-color-primary-darkest: #B83226; 
  --ifm-color-primary-light: #FF8B78; 
  --ifm-color-primary-lighter: #FFA28A; 
  --ifm-color-primary-lightest: #FFCCC8; 
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 111, 97, 0.1); 
} */


:root {
  --ifm-color-primary: #808080;
  --ifm-color-primary-dark: #6e6e6e;
  --ifm-color-primary-darker: #5e5e5e;
  --ifm-color-primary-darkest: #4d4d4d;
  --ifm-color-primary-light: #999999;
  --ifm-color-primary-lighter: #b3b3b3;
  --ifm-color-primary-lightest: #cccccc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


/* :root { 
  --ifm-color-primary: #A7C5EB; 
  --ifm-color-primary-dark: #8AAFD9; 
  --ifm-color-primary-darker: #6D94C6; 
  --ifm-color-primary-darkest: #5079B3; 
  --ifm-color-primary-light: #BFD2F0; 
  --ifm-color-primary-lighter: #D6E6FD; 
  --ifm-color-primary-lightest: #EAF0FF; 
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(167, 197, 235, 0.1); 
} */








/* Original greencolors
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3b99b4;
  --ifm-color-primary-dark: #33859f;
  --ifm-color-primary-darker: #2b728b;
  --ifm-color-primary-darkest: #225a71;
  --ifm-color-primary-light: #4fbfcf;
  --ifm-color-primary-lighter: #5dc4d6;
  --ifm-color-primary-lightest: #7cd2e5;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */
